<!doctype html>
<html>
    <head>
        <title>re-CRUD-escence</title>
    </head>
    <body>
        <form method="POST" action="{% if nickname %} /update/{{ nickname }} {% else %} /add {% endif %}">
            <input type="text" placeholder="nickname" name="nickname" value="{{ nickname }}"><br>
            <input type="submit" value="{% if nickname %} update {% else %} add {% endif %}">
        </form>
    </body>
</html>
