<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>List of nicknames</h1>
     <ul>
        {% for l in list %}
        <li>{{ l.nickname }}<span> | <a href="/delete/{{ l._id }}">remove</a></span><span> | <a href="/update/{{ l._id }}">update</a></span></li>
        {% endfor %}
    </ul>
    {% if nickname %}
        <a href="/create">Add nickname</a><br>
        <a href="/drop">Drop DB</a>
    {% else %}
        <form action="/login" method="POST">
            <input type="text" name="nickname" placeholder="nickname">
            <input type="submit" value="login">
        </form>
    {% endif %}
</body>
</html>